body{
    margin:0%;
    padding: 0%;
    background-color: #f1f7fa;
    font-family: 'Roboto', sans-serif;
}


h1{
    font-style: italic;
    color: rgb(247, 243, 243);
}

h3{
    font-style: italic;
    color: orangered;
}

.red{
    color: red;
}

#title{
    display: flex;
    justify-content: center;
}

.product-name{
    align-self: center;

}
.item{
    display: flex;
    justify-content: space-evenly;
}



.itemcard{
    position: relative;
    padding: 20px;
    margin: 20px;
    display: flex;
    border: 1px solid;
    width: 1150px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 10px rgb(61, 61, 61);
    background-color: white;
    
}

@media only screen and (max-width: 800px) {
    .itemcard{
    flex-direction: column;

    position: relative;
    padding: 20px;
    margin: 20px;
    display: flex;
    border: 1px solid;
    width: 500px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 10px rgb(61, 61, 61);
    background-color: white;
    }}
    @media only screen and (max-width: 600px) {
        .itemcard{
        flex-direction: column;
        position: relative;
        padding: 20px;
        margin: 20px;
        display: flex;
        border: 1px solid;
        width: 400px;
        border-radius: 10px;
        box-shadow: 1px 1px 10px 10px rgb(61, 61, 61);
        background-color: white;
        }
        .itemcard img{
            height: 200px;
        }
        #title{
            display: flex;
            justify-content:left;
        }
    
    }


.price{
    display: flex;
    justify-content: space-evenly;
    margin-left: 30px;


}
.price p{
    align-self: center;
}
.product-quantity{
    align-self: center;
    display: flex;
}

.quantity-btn{
    width: 60px;
    margin-left: 20px;
    margin-right: 10px;
}


img{
    height: 300px;
}

input{
    text-align: center;
    font-size: larger;
    border-radius: 10px;
}
i{
    align-self:center;
    font-size: 40px;
    margin: 10px;
    cursor: pointer;
}
#summary{
    background-color: white;
    top: 0;
    right: 0;
    position: fixed;
    margin: 10px;
    width: 200px;
    border: 1px solid;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 10px rgb(61, 61, 61);
    z-index: 999999999;
    font-size: larger;

}
button{
    background-color: rgb(159, 211, 253);
    margin: 5px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
  
  